
.field{
    background-color: palegoldenrod;
    width: 40px;
    height: 40px;
}

.field1{
    background-color: palegoldenrod;
    width: 40px;
    height: 40px;
}

.field2{
    background-color: palegoldenrod;
    width: 40px;
    height: 40px;
}

